header {
  background-color: #006547;
  display: flex;
}

header h1 {
  font-size: 2rem;
  letter-spacing: -0.2rem;
  margin-left: 30px;
  color: #ff8a00;
  cursor: pointer;
}
#cart_wrap {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#cart_wrap .left {
  width: 500px;
}
#cart_wrap .left img {
  width: 80%;
  margin-top: 50px;
}
#cart_wrap .right {
  width: calc(100% - 550px);
}

#cart_wrap .right .top h1 {
  font-size: 1.2rem;
  padding: 20px 0;
}
#cart_wrap .right .top h1 + p {
  color: #aaa;
  margin-bottom: 10px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
}
#cart_wrap .right .top dl {
  display: flex;
  flex-flow: row nowrap;
}
#cart_wrap .right .top dl dt {
  width: 30%;
  padding: 10px 0;
}
#cart_wrap .right .top dl dd {
  width: 70%;
  padding: 10px 0;
}
#cart_wrap .right .top dl dd.price {
  font-weight: 700;
}
#cart_wrap .right .top .number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

#cart_wrap .right .top .number .ordernumber input[name="num"] {
  width: 50px;
  padding: 5px;
  border: 1px solid #ddd;
}

#cart_wrap .right .top .totalprice {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 0;
}

#cart_wrap .right .top .totalprice .result_price {
  color: #cc0202;
  font-size: 1.2rem;
}
#cart_wrap .right .bottom {
  text-align: right;
  padding: 20px 0;
}
#cart_wrap .right .bottom button {
  padding: 15px 0;
}
#cart_wrap .right .bottom #orderBtn {
  background: #cc0202;
  color: #fff;
  width: 150px;
}
#cart_wrap .right .bottom #cartBtn {
  background: #a9a9a9;
  color: #fff;
  width: 120px;
}
.reviewInfo {
  list-style: none;
  text-align: center;
}

.review_nickname {
  border-bottom: 1px solid #000;
}

.review_content {
  text-align: center;
  border: 2px solid #ff8a00;
  border-radius: 8px;
  height: 180px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
  background: #fafafa;
}
.review_content p {
  display: flex;
  margin-left: 50px;
}
