/* zonecss */

header {
  background-color: #006547;
  display: flex;
}

header h1 {
  font-size: 2rem;
  letter-spacing: -0.2rem;
  margin-left: 30px;
  color: #ff8a00;
  cursor: pointer;
}

header h2 {
  margin-left: 530px;
}

header p {
  color: #ff8a00;
  margin-top: 30px;
  margin-left: 10px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 1000px;
  list-style: none;
  margin-top: 28px;
}

.nav ul li a {
  margin-left: 84px;
  color: #ff8a00;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.searchbar {
  background-image: url("../img/배경.jpg");
  height: 150px;
  text-align: center;
}

.searchbar input {
  margin-top: 80px;
  width: 250px;
  border: none;
  height: 30px;
  border-radius: 3px;
}

.searchBtn {
  background-color: #ff8a00;
  border: none;
  height: 30px;
  width: 45px;
  cursor: pointer;
  color: #fff;
}

body {
  background-color: #fafafa;
}

.products li {
  font-size: 0px;
  margin-left: 30px;
}

.products ul li {
  cursor: pointer;
}

.products .product {
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}

.products .product .produtimg {
  width: 250px;
  height: 150px;
}

.products .product strong {
  font-size: 16px;
  letter-spacing: -2px;
}

.products .product img {
  width: 180px;
  height: 150px;
}
.products .productimg li {
  color: #000;
  margin-left: 1000px;
}

/* zonecss */
